<div class="callout alert">
  <p class=h5>
    <%= icon "information", role: "img", "aria-hidden": true %>
    <%= t(".error.#{@error_reason}.title") %>
  </p>
  <p><%= t(".error.#{@error_reason}.description") %></p>
</div>
