<%= decidim_modal id:"order-update-error-modal" do %>
  <div data-dialog-container>
    <h3 id="order-update-error-label"><%= t(".title") %></h3>

    <div class="error-message"></div>

    <div class="error-details"></div>
  </div>

  <div data-dialog-actions>
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded" data-close type="button">
        <%= t("decidim.budgets.projects.show.close") %>
      </button>
    </div>
  </div>
<% end %>
