<div class="reveal reveal--vote-finished" id="vote-finished-modal" data-reveal role="dialog" aria-modal="true" aria-labelledby="vote-finished-modal-label" data-close-on-click="false" data-close-on-esc="false">
  <div class="reveal__header">
    <h2 id="vote-finished-modal-label" class="reveal__title"><%= t(".title") %></h2>
  </div>
  <div class="reveal__content" id="vote-finished-modal-content" aria-live="assertive">
    <%= render partial: "decidim/budgets/votes/finished_content" %>
  </div>

  <div class="buttons buttons-row">
    <%= link_to t(".sign_out"), decidim.destroy_user_session_path, method: :delete, class: "sign-out-link button", role: "button" %>

    <button type="button" class="button hollow" data-close>
      <%= t(".continue") %>
    </button>
  </div>
</div>

<% content_for(:js_content) do %>
  <script>
  $(document).ready(function() {
    var $modal = $("#vote-finished-modal");
    $modal.foundation("open");
  });
  </script>
<% end %>
