<% if projects.any? %>
  <div class="cards-list">
    <%= render projects %>
  </div>

  <%= decidim_paginate projects, anchor: "projects-count" %>
<% else %>
  <div class="row columns">
    <div class="static__content">
      <p><%= t(".empty") %></p>
    </div>
  </div>
<% end %>
