<%= decidim_form_for(@form, url: help_section_path(container.key, @form), html: { class: "form edit_help_section" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
  </div>
<% end %>
