<%= decidim_form_for(@form, html: { class: "form form-defaults new_help_section" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
        </div>
      </div>
<% end %>
