<div class="column small-12 medium-6 large-4">
  <%= link_to start_vote_path(budget_ids: budget.id), class: "card card--border card--padded card--lead", method: :post do %>
    <div class="card__header">
      <h2 class="h4"><%= translated_attribute(budget.title) %></h2>
    </div>
    <div class="card__main">
      <%= image_tag budget.attached_uploader(:list_image).path, alt: t(".image", title: translated_attribute(budget.title)), class: "card__image" if budget.list_image.attached? %>
    </div>
    <div class="card__content">
      <div class="card__text">
        <div class="card__text--paragraph">
          <%= strip_tags(translated_attribute(budget.description)).presence || "&nbsp;".html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>
