<%
linked_resources = cached_linked_resources_for(type, link_name, resource) || {}
%>

<% linked_resources.each do |klass, resources| %>
  <div class="margin-top-2">
    <% resource_manifest = klass.constantize.resource_manifest %>
    <% i18n_name = "#{resource.class.name.demodulize.underscore}_#{resource_manifest.name}" %>
    <p class="h5"><%= t(i18n_name, scope: "decidim.resource_links.#{link_name}") %></p>
    <% resources.each do |linked_resource| %>
      <%
      title = translated_attribute(linked_resource.title).strip
      title = title.values.first if title.blank? && linked_resource.title.is_a?(Hash)
      %>
      <p>
        <%= link_to project_linked_resource_path(resource, linked_resource.to_gid.to_param), remote: true do %>
          #<%= linked_resource.id %> <%== decidim_html_escape(title) %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
