$detail-selector-border: 2px solid $black !default;
$detail-selector-color: $body-font-color !default;
$detail-selector-selected-background: $primary !default;
$detail-selector-selected-color: $white !default;
$detail-selector-selected-focus-outline: 2px solid $light-gray !default;
$infobox-color: $body-font-color !default;
$infobox-background: $light-gray !default;
$orders-summary-background: $light-gray !default;
$orders-summary-infobox-background: $body-background !default;
$vote-success-icon-color: $secondary !default;
$vote-selected-boder-color: $primary !default;
$collapsed-table-border-color: $black !default;

.voting-header{
  .exit-link{
    margin: 1rem 0;
    text-align: center;

    @include breakpoint(mediumlarge){
      text-align: left;
    }

    a{
      position: relative;

      .icon{
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
  }
}

.voting-header__hero{
  height: 210px;
  background-size: cover;
  background-position: center center;

  @include breakpoint(mediumlarge){
    height: 250px;
  }
}

.voting-header__content{
  position: relative;
}

.voting-header__title{
  position: relative;
  text-align: center;

  h1{
    margin-bottom: 0;
  }
}

.info-modal-opener{
  @include breakpoint(mediumlarge){
    text-align: right;
  }
}

.inline-labels{
  label{
    display: inline-block;
    margin-right: 2rem;
    padding-top: $input-padding;
    padding-bottom: $input-padding;
  }
}

.voting-identity{
  margin: 3rem 0 6rem;
}

.detail-selector{
  .detail-selector-item{
    border: $detail-selector-border;
    margin-bottom: 1rem;
    padding: 10px 20px;

    &.selected{
      background: $detail-selector-selected-background;
      border-color: $detail-selector-selected-background;
      color: $detail-selector-selected-color;

      .detail-selector-title{
        &,
        label,
        button{
          color: $detail-selector-selected-color;
        }
      }

      input,
      textarea,
      select{
        &:focus{
          outline: $detail-selector-selected-focus-outline;
        }
      }
    }

    input[type="checkbox"],
    input[type="radio"]{
      margin: 0;
    }
  }

  .detail-selector-title{
    font-weight: $global-weight-bold;
    color: $detail-selector-color;

    label,
    button{
      font-weight: $global-weight-bold;
      color: $detail-selector-color;
    }
  }

  .detail-selector-content,
  .detail-selector-toggle{
    padding-left: 36px;

    @include breakpoint(medium){
      padding-left: 0;
      text-align: right;
    }
  }
}

.infobox{
  .infobox-item{
    background: $infobox-background;
    margin-bottom: 1rem;
    padding: 10px 20px;
  }

  .infobox-title{
    margin-bottom: .5rem;
    font-size: 1.35rem;
    font-weight: $global-weight-bold;
    color: $infobox-color;
  }

  .infobox-content{
    p:last-child{
      margin-bottom: 0;
    }
  }

  .infobox-content-grid{
    @include breakpoint(medium){
      display: flex;
    }
  }

  .infobox-content-cell{
    flex: 1 1 auto;
  }

  .infobox-actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include breakpoint(medium){
      margin-left: 2rem;
      text-align: right;
      white-space: nowrap;
    }
  }

  .infobox-action{
    margin-top: .5rem;

    &:first-child{
      margin-top: 0;
    }

    .button{
      margin-bottom: 0;
    }
  }
}

.flex-actions{
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;

  @include breakpoint(medium){
    flex-direction: row;
  }

  > *{
    width: 80%;

    @include breakpoint(medium){
      width: auto;
      margin-right: 1rem;
    }

    &:last-child{
      @include breakpoint(medium){
        margin-left: auto;
      }
    }
  }

  > span,
  > form{
    .button{
      width: 100%;

      @include breakpoint(medium){
        width: auto;
      }
    }
  }

  .button{
    &:last-child{
      @include breakpoint(medium){
        margin-right: 0;
      }
    }

    &.icon-before,
    &.icon-after{
      .icon{
        position: relative;
        top: 2px;
      }
    }

    .icon-before .icon{
      margin-right: 1rem;
    }

    .icon-after .icon{
      margin-left: 1rem;
    }
  }
}

.orders-summary{
  background: $orders-summary-background;
  padding: 2rem;

  .budget-progress{
    margin-right: 0;
  }

  .orders-summary-item{
    margin-bottom: 4rem;
  }

  .infobox-item{
    background: $orders-summary-infobox-background;
  }
}

.reveal{
  .orders-summary{
    background: transparent;
    padding: 0;
  }
}

.button{
  .icon--cart{
    position: relative;
    top: 3px;
    width: 1.2em;
    height: 1.2em;
    margin-left: 10px;
  }
}

.cart-button-wrapper{
  @include breakpoint(mediumlarge){
    text-align: right;
  }
}

.collection-sort-controls{
  .cart-button-wrapper{
    @include breakpoint(mediumlarge){
      margin-top: -2.4rem;
    }
  }
}

.orders-summary-top{
  display: flex;
  flex-direction: column;

  @include breakpoint(medium){
    flex-direction: row;
  }

  .orders-summary-title{
    flex: 1 1 0;
  }
}

.reveal.reveal--vote-finished{
  .reveal__header{
    text-align: center;
    border-bottom: 0;

    .icon-wrapper{
      margin: 2rem 0;

      svg{
        width: 12rem;
        height: 11rem;
        fill: $vote-success-icon-color;
      }
    }
  }

  .reveal__content{
    text-align: center;
  }
}

#projects.voting{
  .card{
    outline: 1px solid transparent;
    transition: box-shadow .2s;

    @media (prefers-reduced-motion){
      transition: none;
    }

    &.selected{
      outline-color: $vote-selected-boder-color;
      border-color: $vote-selected-boder-color;
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);

      @media (prefers-reduced-motion){
        box-shadow: none;
      }
    }
  }
}

table.mobile-collapse{
  thead{
    display: none;

    @include breakpoint(medium){
      display: table-header-group;
    }
  }

  tr{
    display: flex;
    flex-direction: column;
    border-top: 1px solid $collapsed-table-border-color;
    padding: $table-padding;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint(medium){
      display: table-row;
      padding: 0;
      border-top: 0;
    }

    &:first-child{
      border-top: 0;
    }

    td{
      padding: 0;

      @include breakpoint(medium){
        padding: $table-padding;
      }
    }
  }
}

.table-summary{
  padding: $table-padding;
}
