<div class="card__info">
  <div class="card__info__item">
    <%= translated_attribute(model.budget.title) %>
  </div>

  <% if model.budget_amount > 0 %>
    <div class="card__info__item text-right">
      <%= budget_to_currency model.budget_amount %>
    </div>
  <% end %>
</div>
