<div class="card__info">
  <div class="card__info__item">
    <div class="row">
      <div class="columns large-8 large-push-2 mb-0">
        <div class="text-center mb-2">
          <%= resource_link aria: {
            label: t("view_detailed", scope: "decidim.budgets.projects.project", name: title)
          } do %>
            <%= t("view", scope: "decidim.budgets.projects.project") %>
            <%= icon "arrow-right-s-line", role: "img", "aria-hidden": true %>
          <% end %>
        </div>
        <div class="text-center">
          <%= render partial: "decidim/budgets/projects/project_budget_button.html", locals: { project: model } %>
        </div>
      </div>
    </div>
  </div>
</div>
